<div class="content-heading">
    <div>Administracion de Personal
        <small>Administre su Personal existente</small></div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">Lista de Personal</div>
            <!-- START table-responsive-->
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>DOCUMENTO</th>
                                <th>FECHA ALTA</th>
                                <th>MODIFICADO</th>
                                <th class="right">
                                    <button [routerLink]="['/person/person', '0']" type="button" class=" btn btn-outline-success btn-sm"><i class="fa fa-plus-square"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let personal of persons; let i = index ">
                                <td>{{ personal.id }}</td>
                                <td>{{ personal.firstname }}</td>
                                <td>{{ personal.lastname }}</td>
                                <td>{{ personal.identityDocument }}</td>
                                <td>{{ personal.createdAt | date : 'dd-MM-yyyy' }}</td>
                                <td>{{ personal.updatedAt | date : 'dd-MM-yyyy' }}</td>
                                <td>
                                    <!-- <button [routerLink]="['/config/personal', personal.id]" type="button" class="fa fa-edit btn btn-outline-success btn-sm"> </button>
                              <a (click)="editRole(personal)" class="btn btn-sm btn-primary">
                                  <i class="fa fa-edit"></i>
                              </a>
                              <a (click)="deleteRole(personal)" class="btn btn-sm btn-danger">
                                  <i class="fa fa-trash"></i>
                              </a> -->
                                    <a (click)="edit(personal.id)" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="EDITAR">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <!-- <a (click)="editbyid(content,department.id)" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="EDITAR">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a (click)="locality(department.id);" class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-placement="top" title="DETALLE">
                                    <i class="fa fa-list-alt"></i>
                                </a> -->
                                    <a (click)="delete(personal.id)" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="ELIMINAR">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>